* {
	text-align: center;
	font-family: 'Gugi', sans-serif;
}

body {
	background-color: #112034;
	color: white;
	overflow-x: hidden;
}

#presentation {
	background-color: #080833;
	border-bottom: 1px solid #888;
	padding-top: 5px;
	margin-bottom: 20px;
}

#presentation p {
	margin-bottom: 0;
}

#presentation a {
	color: white;
}

#presentation a:hover {
	color: greenyellow;
	line-height: 1em;
}

#finder label {
	color: black;
}

#finder, #status {
	border: solid 1px;
	border-collapse: collapse;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

#finder {
	background-color: #00000075;
	margin-bottom: 20px;
	padding: 20px;
}

#finder .row {
	margin: 15px;
}

#search_btn {
	padding: 40px;
	margin: 10px;
	font-size: 50px;
}

@media screen and (max-width: 700px) {
	#search_btn {
		font-size: 4.5vw;
	}
}

#status {
	background-color: #030715a3;
	overflow-x: hidden;
}

#status > * {
	margin: 20px
}

#progress {
	width: 200px;
}

#progress > * {
	text-align: left;
}

#log_checking {
	width: 0;
}

/* https://stackoverflow.com/a/23635565 */
@-webkit-keyframes borderBlink {    
	from, to {    
			border-color: transparent    
	}    
	50% {    
			border-color: white    
	}    
}    
@keyframes borderBlink {    
	from, to {    
			border-color: transparent    
	}    
	50% {    
			border-color: white    
	}    
}
.in_progress {
	border-left: 5px solid;
	-webkit-animation: borderBlink 2s step-end infinite;    
	animation: borderBlink 2s step-end infinite;    
}



#list {
	flex: auto;
	width: 600px;
	height: 50vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #0000006e;
	border: solid 1px;
}

#actual_list {
	padding: 0px;
}

#actual_list a {
	color: white;
}
#actual_list a:visited {
	color: grey;
}

#actual_list li {
	list-style: none;
	font-size: 20px;
	margin: 10px;
}
